<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= result ? result.title : 'Album Not Found' %> - Details</title>
    <link rel="stylesheet" href="/css/styles/styles.css">
</head>
<body>
    <a href="/">Home</a>

    <% if (result) { %>
        <h2><%= result.title %> details</h2>
        <ul>
            <li><strong>Artist:</strong> <%= result.artist %></li>
            <li><strong>Release Year:</strong> <%= result.releaseYear %></li>
        </ul>
    <% } else { %>
        <h2><%= title %> not found</h2>
    <% } %>
</body>
</html>
