<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= result.title %> - Details</title>
     <!-- Link to the CSS file -->
     <link rel="stylesheet" href="./css/styles/styles.css">
</head>
<body>
    <h1>Details for <%= result.title %></h1>
    
    <p><strong>Artist:</strong> <%= result.artist %></p>
    <p><strong>Release Year:</strong> <%= result.releaseYear %></p>

    <!-- Provide a link back to the albums list -->
    <a href="/">Back to Albums List</a>

    <!-- Provide a link to delete this album  when do my delete file-->
    <a href="/delete?title=<%= result.title %>">Delete this album</a>
</body>
</html>